p, li, pre {
	font-size: large;
	margin: 12pt 10% 12pt 100pt;
	line-height: 1.5;
	font-family: Serif;
}
a{
	font-size: large;
}
p.nope {
	margin: 0pt 0pt 0pt 0pt;
	line-height: 1;
}
br {
        line-height: 200%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Serif;
}