p, li {
	color: SeaGreen;
	font-size: x-large;
	margin: 12pt 10% 12pt 100pt;
}

input, select, textarea { 
	font-size: x-large; 
}

p.nope {
	margin: 0pt 0pt 0pt 0pt;
}
h1 {
	color: SaddleBrown
}
a {
	font-size: x-large;
}
/* unvisited link */
a:link {
    color: FireBrick;
}

/* visited link */
a:visited {
    color: BlanchedAlmond;
}

/* mouse over link */
a:hover {
    color: Gold;
}
/* selected link */
a:active {
    color: blue;
}
body {
	background-color: YellowGreen;
}